{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <div class="container">
        <div class="right-block">
            <div>
                <p>Date de jour : {{ "now"|date("d/m/Y") }}</p>
                <p>Participant : {# todo: {{ participant.prenom}} {{ participant.nom}} #}XXXXXXXX</p>
            </div>
        </div>
    <h2>Filtrer les sorties</h2>

        {% include ('event/_filter_form.html.twig') %}

        {% include('event/events_table.html.twig') %}

        <button type="button" class="btn btn-primary creer-sortie"><a href="{{ path('event_new') }}">Créer une sortie</a></button>
    </div>
{% endblock %}
