{% extends 'base.html.twig' %}

{% block title %}Gérer les campus{% endblock %}

{% block body %}
    <div class="container">
        <h2>Ajouter de campus</h2>
        {{ form(form) }}
    </div>
{% endblock %}

