{% extends 'base.html.twig' %}

{% block title %}Gérer les villes{% endblock %}

{% block body %}

<div class="container">

    <div class="center">
        <div>
            <h2>Gérer les villes</h2>
        </div>
    </div>

    <h2>Filtrer les villes</h2>
    <p>Le nom contient</p>
            <form class="search-container" action="/action_page.php" style="margin:auto;max-width:300px">
                <input type="text" placeholder="Rechercher" name="search">
                <button type="submit">Rechercher</button>
            </form>

    <table class="table table-sorties">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Ville</th>
            <th scope="col">Code postal</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>Nantes</td>
                <td>12345</td>
                <td>
                    <a href="#">Modifier</a>
                    <a href="#">Supprimer</a>
                </td>
            </tr>

        </tbody>


       {# <tbody>
        {% for campus in campus %}
            <tr>
                <td>{{ campus.name }}</td>
                <td>
                    <a href="{{ path('campus_edit', {'id': campus.id}) }}">show</a>
                    <a href="{{ path('event_delete', {'id': campus.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">Aucun campus</td>
            </tr>
        {% endfor %}
        </tbody> #}

    </table>
    <button type="button" class="btn btn-primary creer-sortie"><a href="{{ path('event_new') }}">Ajouter un campus</a></button>
</div>
{% endblock %}
